<div class="container-fluid">
    <div class="mrow">
        <div class="col-md-12">
            <div class="input-group search">
                <input type="text" class="form-control" placeholder="Search Alerts" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"></span>
            </div>
        </div>
    </div>
    <div class="mrow">
        <h5 class="col-md-10"> Alerts ({{alerts.length}}) </h5>
        <div class="col-md-2">
            <div class="dropdown pull-right">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ACTIONS
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <span class="dropdown-item" href="#">Open</span>
                    <span class="dropdown-item" href="#">Dismiss</span>
                    <span class="dropdown-item" href="#">Escalate</span>
                    <span class="dropdown-item" href="#">Resolve</span>
                </div>
            </div>
        </div>
    </div>
    <div class="mrow">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th *ngFor="let name of alertsColumnNames"> {{ name }} </th>
                    <th style="width:50px"><input id="select-deselect-all" class="fontawesome-checkbox" type="checkbox"><label for="select-deselect-all"></label></th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let alert of alerts" (click)="showDetails(alert)">
                        <td>
                            <div [ngClass]="{ 'high': alert.score > 70, 'medium': (alert.score>40 && alert.score<71), 'low': (alert.score>0 && alert.score<41) }">
                                {{ alert.score }}
                            </div>
                        </td>
                        <td> {{ alert.description }} </td>
                        <td> {{ alert.alertId }} </td>
                        <td> {{ alert.age }} </td>
                        <td> {{ alert.alertSource }} </td>
                        <td> {{ alert.sourceIp }} </td>
                        <td> {{ alert.sourceLocation }} </td>
                        <td> {{ alert.destinationIP }} </td>
                        <td> {{ alert.designatedHost }} </td>
                        <td> {{ alert.status }} </td>
                        <td><input id="{{ alert.alertId }}" class="fontawesome-checkbox" type="checkbox" name="{{alert.alertId}}" ><label attr.for="{{ alert.alertId }}"></label></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>