@import "../../vendor.scss";
@import "../../styles.scss";
@import "../../variables.scss";

.container-fluid
{
  padding: 0px;
}

.mrow {
  @extend .my-4;
}

.search {
  .form-control {
    @extend .input;
    border-right: none;
  }

  &:focus {
    @extend .input;
  }

  .form-control + .input-group-addon {
    cursor: pointer;
    border: 1px solid $blue-chill !important;
    background: $icon-button-background;

    &::before {
      font-family: "FontAwesome";
      content: '\f002';
      color: $piction-blue;
    }
  }
}

.selected {
  background: $mine-shaft-2;
}
